<!doctype html>
<!--[if IEMobile 7]><html class="no-js iem7 oldie"><![endif]-->
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]|(gt IEMobile 7)><!--><html class="no-js" lang="en"><!--<![endif]-->
	<head>
		{% assign cachebust = '1' %}
  		<meta charset="utf-8">
  		<link rel="dns-prefetch" href="//ajax.googleapis.com">
		<title>Welcome to the World of Tomorrow {% if page.title %} - {{ page.title }} {% else %} - It Is A Silly Place {% endif %}</title>
		<meta name="description" content="Blog">
  		<meta name="author" content="Ley Missailidis">
		
		<!-- From 320 and Up -->
  		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
  		<!-- Mobile viewport optimized: http://goo.gl/z0PA8 -->
  		<meta name="viewport" content="width=device-width,initial-scale=1">

	  	<!-- For iPhone 4 -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/icons/apple-touch-icon-114x114-precomposed.png">
		<!-- For iPad 1-->
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/icons/apple-touch-icon-72x72-precomposed.png">
		<!-- For iPhone 3G, iPod Touch and Android -->
		<link rel="apple-touch-icon-precomposed" href="/assets/img/icons/apple-touch-icon-57x57-precomposed.png.png">
		<!-- For Nokia -->
		<link rel="shortcut icon" href="/assets/img/icons/apple-touch-icon.png">

  		
  		<!-- Stylesheet -->
  		{% if page.style %}
  		<link rel="stylesheet" href="/assets/css/{{ page.style }}">
  		{% else %}
		<link rel="stylesheet" href="/assets/css/style.{{ cachebust }}.css">
		{% endif %}
		
		{% if page.typekit %}
  			<script type="text/javascript" src="http://use.typekit.com/{{ page.typekit }}.js"></script>
  			<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  		{% else %}
		<!-- Typekit -->
  		<script type="text/javascript" src="http://use.typekit.com/prj3cah.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  		{% endif %}
  		{% for post in paginator.posts %}
  			{% if post.typekit %}
  			<script type="text/javascript" src="http://use.typekit.com/{{ post.typekit }}.js"></script>
  			<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  			{% endif %}
  		{% endfor %}
  		{% for post in paginator.posts %}
  		{% if post.styleindex %}
  		<link rel="stylesheet" href="/assets/css/{{ post.styleindex }}">
  		{% endif %}
  		{% endfor %}	
  		<!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  		<!-- All JavaScript at the bottom, except this Modernizr build incl. Respond.js
       	Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5 elements & feature detects; 
       for optimal performance, create your own custom Modernizr build: www.modernizr.com/download/ -->
  		<!--[if (lt IE 9) & (!IEMobile)]>
		<script src="/assets/js/libs/selectivizr-min.js"></script>
		<![endif]-->
  		<script src="/assets/js/libs/modernizr-2.0.6.min.js"></script>
  
		<!-- iOS web app, deletable if not needed -->
  		 <meta name="apple-mobile-web-app-capable" content="yes">
 		 <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 

  		<!-- 320x460 for iPhone 3GS -->
		<link rel="apple-touch-startup-image" media="(max-device-width: 480px) and not (-webkit-min-device-pixel-ratio: 2)" href="/assets/img//splash/startup.png">
  		
  		<!-- 640x920 for retina display -->
  		<link rel="apple-touch-startup-image" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" href="/assets/img/splash/startup-retina.png">
  		
  		<!-- iPad Portrait 768x1004 -->
  		<link rel="apple-touch-startup-image" media="(min-device-width: 768px) and (orientation: portrait)" href="/assets/img//splash/startup-tablet-portrait.png">
  
  		<!-- iPad Landscape 1024x748 -->
  		 <link rel="apple-touch-startup-image" media="(min-device-width: 768px) and (orientation: landscape)" href="/assets/img//splash/startup-tablet-landscape.png"> 
  
  		<!-- The script prevents links from opening in mobile safari. https://gist.github.com/1042026 -->
  		
  		<script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
		
		<!--Microsoft. Delete if not required -->
		<meta http-equiv="cleartype" content="on">
		
		<link rel="alternate" type="application/atom+xml" href="/feed/">
</head>
		
<body class="clearfix">
	<header role="banner">
			<div id="logo">
				<a href="http://worldoftomorrow.ca" accesskey="1" title="Home">
					{% if page.logo %}
					<img src="{{page.logo}}">
					{% else %}
					<img src="/assets/img/util/logo.png">
					{% endif %}
					<span>Welcome to the World of Tomorrow</span>
				</a>
			</div>
			<div role="navigation" class="clearfix">
				<nav>
					<ul>
						<li id="home"><a href="/">Home</a></li>
						<li id="rss"><a href="http://feeds.feedburner.com/WorldOfTomorrow">Rss Feed</a></li>
						<li id="mail"><a href="&#x6D;&#x61;&#x69;&#108;&#116;&#x6F;:&#x6D;&#111;&#105;&#x73;&#105;&#x73;&#46;&#108;&#x61;&#x6E;&#103;&#108;&#101;&#x79;&#64;&#x6D;&#x69;&#x73;&#x73;&#x61;&#x69;&#108;&#x69;&#100;&#105;&#115;&#46;&#99;&#97;">Mail</a></li>
						<li id="twitter"><a href="http://twitter.com/_polymetis_">Twitter</a></li>
						<li id="about"><a href="http://ley.missailidis.ca">About</a></li>
					</ul>
				</nav>
				<div id="search">
					<form action="/cgi-bin/search.cgi" method="get">
                			<input type="search" name="query" placeholder="SEARCH">
              		</form>
              	</div>
				</div>
		</header>	
		{{ content }}	
	<!-- JavaScript at the bottom for fast page loading -->

  	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
	
  	<script defer src="/assets/js/iapetus.{{ cachebust }}.js"></script>

  	<!--[if (lt IE 9) & (!IEMobile)]>
	<script src="/assets/js/libs/imgsizer.js"></script>
	<![endif]-->
<script>
	// iOS scale bug fix
	   window.onload = function() {
        MBP.scaleFix();
    }
	// Respond.js
	yepnope({
	test : Modernizr.mq('(only all)'),
	nope : ['/assets/js/libs/respond.min.js']
});
	</script>


  	<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  	<script>
    var _gaq=[['_setAccount','UA-23044293-1'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  	</script>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>